name: Run action

on:
  push:
    paths-ignore:
      - README.md

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Checkout buildpacks/samples
      uses: actions/checkout@v2
      with:
        repository: buildpacks/samples
        path: samples

    - name: Build image
      uses: ./
      with:
        image: 'sample-bash-app'
        path: 'samples/apps/bash-script/'
        builder: 'cnbs/sample-builder:bionic'
        env: 'HELLO=WORLD FOO=BAR BAZ'
      id: build
    
    - name: Show build command
      run: echo ${{ steps.build.outputs.command }}

    - name: Check the built image
      run: docker image ls | grep sample-bash-app
