name: Run action

on:
  push:
    paths-ignore:
      - README.md
  pull_request:
    paths-ignore:
      - README.md

jobs:
  build-bash-app:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Checkout buildpacks/samples
      uses: actions/checkout@v6
      with:
        repository: buildpacks/samples
        path: samples

    - name: Build image
      uses: ./
      with:
        image: 'sample-bash-app'
        path: 'samples/apps/bash-script/'
        builder: 'cnbs/sample-builder:alpine'
        env: 'HELLO=WORLD FOO=BAR BAZ'
        env_files: '.env.ci'
      id: build

    - name: Show build command
      run: echo ${{ steps.build.outputs.command }}

    - name: Check the built image
      run: docker image ls | grep sample-bash-app

    - name: Check publishing
      uses: ./
      with:
        image: 'sample-bash-app'
        path: 'samples/apps/bash-script/'
        builder: 'cnbs/sample-builder:alpine'
        env: 'HELLO=WORLD FOO=BAR BAZ'
        env_files: '.env.ci'
        debug_mode: "true"
        publish: true
      id: publish

    - name: Check publish argument was present
      run: echo ${{ steps.publish.outputs.command }} | grep publish

  build-maven-app:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Checkout buildpacks/samples
      uses: actions/checkout@v6
      with:
        repository: buildpacks/samples
        path: samples

    - name: Build image
      uses: ./
      with:
        image: 'sample-java-maven-app'
        path: 'samples/apps/java-maven/'
        builder: 'cnbs/sample-builder:alpine'
        buildpacks: 'samples/buildpacks/java-maven samples/buildpacks/hello-processes/ cnbs/sample-package:hello-universe'
      id: build

    - name: Show build command
      run: echo ${{ steps.build.outputs.command }}

    - name: Check the built image
      run: docker image ls | grep sample-java-maven-app
